.res-card-container {
  border: 1px solid black;
  height: 400px;
  width: 300px;
  cursor: pointer;
  transition: 200ms;
  padding: 10px;
}
.res-card-container:hover {
  transform: scale(1.02);
}
.image-container {
  height: 200px;
}
.image-style {
  width: 100%;
  height: 100%;
}
