.body-container {
  padding-top: 15px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.restaurant-list-container {
  display: flex;
  gap: 51;
  flex-wrap: wrap;
}
